mat-drawer h5 {
  margin: 24px 0 0 16px;
}

mat-drawer-container, mat-drawer-content, .products {
  min-height: calc(100% - 64px);
}

.products {
  margin: 16px;
}

.options {
  display: flex;
  justify-content: space-between;
  gap: 1em
}

.options :first-child {
  flex-grow: 2;
}

.options button {
  margin-top: 8px;
}

.title {
  display: flex;
  justify-content: space-between;
}

.title span {
  display: inline-block;
}
